# Data Analysis 6
---
Main ideas and dataset from [KeithGalli/Pandas-Data-Science-Tasks](https://github.com/KeithGalli/Pandas-Data-Science-Tasks)

En este dataset se unirán 6 datasets de las ventas en una tienda y depués de limpiar los datos exploraremos el dataset.

In [1]:
import pandas as pd
import os
from datetime import date

### Merging Data
---

In [12]:
files = [name for name in os.listdir("./archive/SalesAnalysis/Sales_Data")]

all_months = pd.DataFrame()

for name in files:
    if name != "all_months.csv":
        df = pd.read_csv("./archive/SalesAnalysis/Sales_Data/" + name)
        all_months = pd.concat([all_months, df])


all_months.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186850 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

In [3]:
df = pd.read_csv("./archive/SalesAnalysis/Sales_Data/Sales_April_2019.csv")
df.info()
del(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

In [4]:
df = pd.read_csv("./archive/SalesAnalysis/Sales_Data/Sales_August_2019.csv")
df.info()
del(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12011 entries, 0 to 12010
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          11983 non-null  object
 1   Product           11983 non-null  object
 2   Quantity Ordered  11983 non-null  object
 3   Price Each        11983 non-null  object
 4   Order Date        11983 non-null  object
 5   Purchase Address  11983 non-null  object
dtypes: object(6)
memory usage: 563.1+ KB

Con esto queda claro que tenemos todo el dataset, pues solo de los primeros dos datasets, deberíamos tener 29'000+ elementos, sin embargo solo tenemos 186'000+. Ahora guardamos el documento en un csv

In [13]:
all_months.to_csv("./archive/SalesAnalysis/Sales_Data/all_months.csv", index = False)

### Limpiando el dataset
---

In [25]:
all_data = pd.read_csv("./archive/SalesAnalysis/Sales_Data/all_months.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [26]:
all_data.loc[all_data["Order Date"].isna() == True]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
185176,NaN,NaN,NaN,NaN,NaN,NaN
185438,NaN,NaN,NaN,NaN,NaN,NaN
186042,NaN,NaN,NaN,NaN,NaN,NaN
186548,NaN,NaN,NaN,NaN,NaN,NaN
186826,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
all_data.loc[all_data["Order Date"].isna() == True].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545 entries, 1 to 186826
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          0 non-null      object
 1   Product           0 non-null      object
 2   Quantity Ordered  0 non-null      object
 3   Price Each        0 non-null      object
 4   Order Date        0 non-null      object
 5   Purchase Address  0 non-null      object
dtypes: object(6)
memory usage: 29.8+ KB

In [28]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [29]:
all_data.dropna(axis=0, how='all', inplace=True)
all_data.loc[all_data["Order Date"].isna() == True]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

In [30]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [31]:
# all_data["Quantity Ordered"] = all_data["Quantity Ordered"].astype('i4')
# Raised ValueError: invalid literal for int() with base 10: 'Quantity Ordered'

In [32]:
all_data.loc[all_data["Quantity Ordered"] == "Quantity Ordered"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [33]:
all_data = all_data.loc[all_data["Quantity Ordered"] != "Quantity Ordered"]

In [34]:
all_data["Quantity Ordered"] = all_data["Quantity Ordered"].astype('i4')
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int32
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: int32(1), object(5)
memory usage: 9.2+ MB

In [35]:
all_data["Price Each"] = pd.to_numeric(all_data["Price Each"])

In [37]:
all_data["fecha"] = pd.to_datetime(all_data["Order Date"])
all_data.drop(columns="Order Date", inplace = True)
all_data.set_index("fecha", inplace=True)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address
fecha,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001"
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215"
2019-04-12 14:38:00,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001"
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001"
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001"

In [46]:
def atributos_fecha(data):
  data['anio'] = data.index.year
  data['mes'] = data.index.month_name()
  data['dia_mes'] = data.index.day
  data['dia_semana'] = data.index.day_name()
  data['hora'] = data.index.hour

In [47]:
atributos_fecha(all_data)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,anio,mes,dia_mes,dia_semana,hora
fecha,,,,,,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",2019,April,19,Friday,8
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",2019,April,7,Sunday,22
2019-04-12 14:38:00,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",2019,April,12,Friday,14
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",2019,April,12,Friday,14
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",2019,April,30,Tuesday,9

In [48]:
all_data["total_venta"] = all_data["Quantity Ordered"] * all_data["Price Each"]
all_data.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,anio,mes,dia_mes,dia_semana,hora,total_venta
fecha,,,,,,,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",2019,April,19,Friday,8,23.90
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",2019,April,7,Sunday,22,99.99
2019-04-12 14:38:00,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",2019,April,12,Friday,14,600.00
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",2019,April,12,Friday,14,11.99
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",2019,April,30,Tuesday,9,11.99
2019-04-29 13:03:00,176562,USB-C Charging Cable,1,11.95,"381 Wilson St, San Francisco, CA 94016",2019,April,29,Monday,13,11.95
2019-04-02 07:46:00,176563,Bose SoundSport Headphones,1,99.99,"668 Center St, Seattle, WA 98101",2019,April,2,Tuesday,7,99.99
2019-04-12 10:58:00,176564,USB-C Charging Cable,1,11.95,"790 Ridge St, Atlanta, GA 30301",2019,April,12,Friday,10,11.95
2019-04-24 10:38:00,176565,Macbook Pro Laptop,1,1700.00,"915 Willow St, San Francisco, CA 94016",2019,April,24,Wednesday,10,1700.00
2019-04-08 14:05:00,176566,Wired Headphones,1,11.99,"83 7th St, Boston, MA 02215",2019,April,8,Monday,14,11.99

Para la ubicación notamos un patron, primero va la calle, luego la ciudad, seguida del estado y al final el código postal, procedemos a separar todos sus componentes.

In [74]:
direcciones_df = all_data.copy()[["Purchase Address"]]
direcciones_df.head()

                                         Purchase Address
fecha
2019-04-19 08:46:00          917 1st St, Dallas, TX 75001
2019-04-07 22:30:00     682 Chestnut St, Boston, MA 02215
2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001
2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001
2019-04-30 09:27:00     333 8th St, Los Angeles, CA 90001

In [75]:
direcciones_df = direcciones_df["Purchase Address"].str.split(pat=",", expand=True)
direcciones_df.columns = ["calle", "ciudad", "pendiente"]
direcciones_df.head()

                               calle        ciudad  pendiente
fecha
2019-04-19 08:46:00       917 1st St        Dallas   TX 75001
2019-04-07 22:30:00  682 Chestnut St        Boston   MA 02215
2019-04-12 14:38:00    669 Spruce St   Los Angeles   CA 90001
2019-04-12 14:38:00    669 Spruce St   Los Angeles   CA 90001
2019-04-30 09:27:00       333 8th St   Los Angeles   CA 90001

In [76]:
direcciones_df["estado"] = direcciones_df["pendiente"].str.strip().str.split(pat=" ", expand=True)[0]
direcciones_df["cp"] = direcciones_df["pendiente"].str.strip().str.split(pat=" ", expand=True)[1]
direcciones_df.drop(columns="pendiente", axis=1, inplace=True)
direcciones_df.head()

                               calle        ciudad estado     cp
fecha
2019-04-19 08:46:00       917 1st St        Dallas     TX  75001
2019-04-07 22:30:00  682 Chestnut St        Boston     MA  02215
2019-04-12 14:38:00    669 Spruce St   Los Angeles     CA  90001
2019-04-12 14:38:00    669 Spruce St   Los Angeles     CA  90001
2019-04-30 09:27:00       333 8th St   Los Angeles     CA  90001

In [77]:
all_data = pd.concat([all_data, direcciones_df], axis=1)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,anio,mes,dia_mes,dia_semana,hora,total_venta,calle,ciudad,estado,cp
fecha,,,,,,,,,,,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",2019,April,19,Friday,8,23.90,917 1st St,Dallas,TX,75001
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",2019,April,7,Sunday,22,99.99,682 Chestnut St,Boston,MA,02215
2019-04-12 14:38:00,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",2019,April,12,Friday,14,600.00,669 Spruce St,Los Angeles,CA,90001
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",2019,April,12,Friday,14,11.99,669 Spruce St,Los Angeles,CA,90001
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",2019,April,30,Tuesday,9,11.99,333 8th St,Los Angeles,CA,90001

In [78]:
all_data.drop(columns='Purchase Address', axis=1, inplace=True)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,anio,mes,dia_mes,dia_semana,hora,total_venta,calle,ciudad,estado,cp
fecha,,,,,,,,,,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,2019,April,19,Friday,8,23.90,917 1st St,Dallas,TX,75001
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,2019,April,7,Sunday,22,99.99,682 Chestnut St,Boston,MA,02215
2019-04-12 14:38:00,176560,Google Phone,1,600.00,2019,April,12,Friday,14,600.00,669 Spruce St,Los Angeles,CA,90001
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,2019,April,12,Friday,14,11.99,669 Spruce St,Los Angeles,CA,90001
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,2019,April,30,Tuesday,9,11.99,333 8th St,Los Angeles,CA,90001